-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: user
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('21a281c7ad3a');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient`
--

DROP TABLE IF EXISTS `ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredient` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `category` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=196 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient`
--

LOCK TABLES `ingredient` WRITE;
/*!40000 ALTER TABLE `ingredient` DISABLE KEYS */;
INSERT INTO `ingredient` VALUES (1,'繧ｵ繝ｼ繝ｭ繧､繝ｳ','迚幄ｉ'),(2,'繝ｪ繝悶Ο繝ｼ繧ｹ','迚幄ｉ'),(3,'繝偵Ξ','迚幄ｉ'),(4,'繝舌Λ閧・,'迚幄ｉ'),(5,'繝｢繝｢閧・,'迚幄ｉ'),(6,'縺吶・閧・,'迚幄ｉ'),(7,'繧ｷ繝｣繝医・繝悶Μ繧｢繝ｳ','迚幄ｉ'),(8,'繝ｩ繝ｳ繝・,'迚幄ｉ'),(9,'縺ｲ縺崎ｉ','迚幄ｉ'),(10,'迚帙ち繝ｳ','迚幄ｉ'),(11,'繝溘ヮ','迚幄ｉ'),(12,'繝上ヤ','迚幄ｉ'),(13,'繝ｬ繝舌・','迚幄ｉ'),(14,'繝帙Ν繝｢繝ｳ','迚幄ｉ'),(15,'繝上メ繝弱せ','迚幄ｉ'),(16,'繝ｭ繝ｼ繧ｹ','雎夊ｉ'),(17,'繝舌Λ閧・,'雎夊ｉ'),(18,'繝｢繝｢閧・,'雎夊ｉ'),(19,'繝偵Ξ','雎夊ｉ'),(20,'閧ｩ繝ｭ繝ｼ繧ｹ','雎夊ｉ'),(21,'閧ｩ閧・,'雎夊ｉ'),(22,'繧ｹ繝壹い繝ｪ繝・,'雎夊ｉ'),(23,'繝医Φ繝医Ο','雎夊ｉ'),(24,'雎夊ｶｳ','雎夊ｉ'),(25,'雎壹ち繝ｳ','雎夊ｉ'),(26,'繝ｬ繝舌・','雎夊ｉ'),(27,'繝上ヤ','雎夊ｉ'),(28,'繧ｬ繝・,'雎夊ｉ'),(29,'繝偵Δ','雎夊ｉ'),(30,'繝帙Ν繝｢繝ｳ','雎夊ｉ'),(31,'繧ゅｂ閧・,'鮓剰ｉ'),(32,'繧縺ｭ閧・,'鮓剰ｉ'),(33,'縺輔＆縺ｿ','鮓剰ｉ'),(34,'謇狗ｾｽ蜈・,'鮓剰ｉ'),(35,'謇狗ｾｽ蜈・,'鮓剰ｉ'),(36,'鮓冗坩','鮓剰ｉ'),(37,'鮓上・縺崎ｉ','鮓剰ｉ'),(38,'遐り・','鮓剰ｉ'),(39,'繝ｬ繝舌・','鮓剰ｉ'),(40,'繝上ヤ','鮓剰ｉ'),(41,'繧ｻ繧ｻ繝ｪ','鮓剰ｉ'),(42,'縺ｼ繧薙§繧・,'鮓剰ｉ'),(43,'繝､繧ｲ繝ｳ霆滄ｪｨ','鮓剰ｉ'),(44,'鄒願ｉ','縺昴・莉悶・閧・),(45,'繝ｩ繝','縺昴・莉悶・閧・),(46,'繝槭ヨ繝ｳ','縺昴・莉悶・閧・),(47,'鮖ｿ閧会ｼ医ず繝薙お・・,'縺昴・莉悶・閧・),(48,'鬥ｬ閧・,'縺昴・莉悶・閧・),(49,'繧､繝弱す繧ｷ閧会ｼ医⊂縺溘ｓ閧会ｼ・,'縺昴・莉悶・閧・),(50,'繧｢繝偵Ν閧・,'縺昴・莉悶・閧・),(51,'繧ｫ繝｢閧・,'縺昴・莉悶・閧・),(52,'繧ｦ繧ｺ繝ｩ閧・,'縺昴・莉悶・閧・),(53,'荳・擇魑･','縺昴・莉悶・閧・),(54,'魘ｨ骰狗畑閧・,'縺昴・莉悶・閧・),(55,'繝繝√Ι繧ｦ閧・,'縺昴・莉悶・閧・),(56,'繧ｭ繝｣繝吶ヤ','驥手除'),(57,'繝ｬ繧ｿ繧ｹ','驥手除'),(58,'繝悶Ο繝・さ繝ｪ繝ｼ','驥手除'),(59,'繧ｫ繝ｪ繝輔Λ繝ｯ繝ｼ','驥手除'),(60,'繝医・繝・,'驥手除'),(61,'繧ｭ繝･繧ｦ繝ｪ','驥手除'),(62,'繝翫せ','驥手除'),(63,'繝斐・繝槭Φ','驥手除'),(64,'繝代・繝ｪ繧ｫ','驥手除'),(65,'繧ｫ繝懊メ繝｣','驥手除'),(66,'繝繧､繧ｳ繝ｳ','驥手除'),(67,'繝九Φ繧ｸ繝ｳ','驥手除'),(68,'繧ｿ繝槭ロ繧ｮ','驥手除'),(69,'繧ｷ繝ｧ繧ｦ繧ｬ','驥手除'),(70,'繝九Λ','驥手除'),(71,'繝帙え繝ｬ繝ｳ繧ｽ繧ｦ','驥手除'),(72,'繝溘ヤ繝・,'驥手除'),(73,'繧ｻ繝ｪ','驥手除'),(74,'繧ｴ繝懊え','驥手除'),(75,'繝上け繧ｵ繧､','驥手除'),(76,'蟆乗收闖・,'驥手除'),(77,'繝√Φ繧ｲ繝ｳ繧ｵ繧､','驥手除'),(78,'繝｢繝ｭ繝倥う繝､','驥手除'),(79,'繝ｫ繝・さ繝ｩ','驥手除'),(80,'繧ｵ繝ｩ繝闖・,'驥手除'),(81,'繧ｵ繝・・繧､繝｢','驥手除'),(82,'繧ｸ繝｣繧ｬ繧､繝｢','驥手除'),(83,'髟ｷ闃・,'驥手除'),(84,'繧ｵ繝医う繝｢','驥手除'),(85,'繝・Ν繝繝ｩ繧ｵ繧ｭ','驥手除'),(86,'繧ｷ繝･繝ｳ繧ｮ繧ｯ','驥手除'),(87,'繝弱じ繝ｯ繝・,'驥手除'),(88,'繝ｩ繝・ぅ繝・す繝･','驥手除'),(89,'繧｢繧ｹ繝代Λ繧ｬ繧ｹ','驥手除'),(90,'縺励＞縺溘￠','縺阪・縺・),(91,'縺ｾ縺・◆縺・,'縺阪・縺・),(92,'縺医・縺・,'縺阪・縺・),(93,'繧ｨ繝ｪ繝ｳ繧ｮ','縺阪・縺・),(94,'縺ｪ繧√％','縺阪・縺・),(95,'繝槭ャ繧ｷ繝･繝ｫ繝ｼ繝','縺阪・縺・),(96,'縺励ａ縺・,'縺阪・縺・),(97,'繝昴Ν繝√・繝・,'縺阪・縺・),(98,'繝医Μ繝･繝・,'縺阪・縺・),(99,'繝､繝槭ヶ繧ｷ繧ｿ繧ｱ','縺阪・縺・),(100,'繝偵Λ繧ｿ繧ｱ','縺阪・縺・),(101,'繝翫Λ繧ｿ繧ｱ','縺阪・縺・),(102,'繧ｿ繝｢繧ｮ繧ｿ繧ｱ','縺阪・縺・),(103,'繧ｵ繧ｱ','鬲壻ｻ・),(104,'繝槭げ繝ｭ','鬲壻ｻ・),(105,'繧､繧ｫ','鬲壻ｻ・),(106,'繧ｿ繧ｳ','鬲壻ｻ・),(107,'繝帙ち繝・,'鬲壻ｻ・),(108,'繧｢繧ｵ繝ｪ','鬲壻ｻ・),(109,'繧ｷ繧ｸ繝・,'鬲壻ｻ・),(110,'繝上・繧ｰ繝ｪ','鬲壻ｻ・),(111,'繧ｵ繝・,'鬲壻ｻ・),(112,'繧｢繧ｸ','鬲壻ｻ・),(113,'繧､繝ｯ繧ｷ','鬲壻ｻ・),(114,'繧ｫ繝・が','鬲壻ｻ・),(115,'繝輔げ','鬲壻ｻ・),(116,'繧ｫ繝・,'鬲壻ｻ・),(117,'繧ｨ繝・,'鬲壻ｻ・),(118,'繧ｫ繧ｭ','鬲壻ｻ・),(119,'魃・,'鬲壻ｻ・),(120,'繝偵Λ繝｡','鬲壻ｻ・),(121,'繧ｫ繝ｬ繧､','鬲壻ｻ・),(122,'繝上ち繝上ち','鬲壻ｻ・),(123,'繝｡繝舌Ν','鬲壻ｻ・),(124,'繧ｦ繝・,'鬲壻ｻ・),(125,'繧ｷ繝ｩ繧ｹ','鬲壻ｻ・),(126,'鮓丞嵯','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(127,'縺・★繧峨・蜊ｵ','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(128,'貂ｩ豕牙嵯','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(129,'蜊顔・蜊ｵ','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(130,'迚帑ｹｳ','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(131,'繝√・繧ｺ・医Δ繝・ヤ繧｡繝ｬ繝ｩ縲√メ繧ｧ繝繝ｼ縲√ざ繝ｼ繝縺ｪ縺ｩ・・,'蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(132,'繝ｨ繝ｼ繧ｰ繝ｫ繝・,'蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(133,'逕溘け繝ｪ繝ｼ繝','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(134,'繝舌ち繝ｼ','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(135,'繧ｫ繝槭Φ繝吶・繝ｫ繝√・繧ｺ','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(136,'繝励Ο繧ｻ繧ｹ繝√・繧ｺ','蜊ｵ繝ｻ荵ｳ陬ｽ蜩・),(137,'雎・攸驢､','縺昴・莉・),(138,'蜻ｳ蝎・,'縺昴・莉・),(139,'驢､豐ｹ','縺昴・莉・),(140,'縺ｿ繧翫ｓ','縺昴・莉・),(141,'遐らｳ・,'縺昴・莉・),(142,'蝪ｩ','縺昴・莉・),(143,'閭｡讀・,'縺昴・莉・),(144,'縺斐∪豐ｹ','縺昴・莉・),(145,'繧ｵ繝ｩ繝豐ｹ','縺昴・莉・),(146,'蜚占ｾ帛ｭ・,'縺昴・莉・),(147,'豬ｷ闍・,'縺昴・莉・),(148,'譏・ｸ・,'縺昴・莉・),(149,'魏ｹ遽','縺昴・莉・),(150,'縺縺励・邏','縺昴・莉・),(151,'繝槭Κ繝阪・繧ｺ','縺昴・莉・),(152,'繧ｵ繝・・繧､繝｢','雎・・闃・),(153,'繧ｸ繝｣繧ｬ繧､繝｢','雎・・闃・),(154,'髟ｷ闃・,'雎・・闃・),(155,'繧ｵ繝医う繝｢','雎・・闃・),(156,'繝､繝槭う繝｢','雎・・闃・),(157,'繝ｬ繝ｳ繧ｳ繝ｳ','雎・・闃・),(158,'螟ｧ雎・,'雎・・闃・),(159,'鮟定ｱ・,'雎・・闃・),(160,'譫晁ｱ・,'雎・・闃・),(161,'雎・・','雎・・闃・),(162,'蜴壽恕縺・,'雎・・闃・),(163,'豐ｹ謠壹￡','雎・・闃・),(164,'邏崎ｱ・,'雎・・闃・),(165,'縺翫°繧・,'雎・・闃・),(166,'繝ｪ繝ｳ繧ｴ','譫懃黄'),(167,'繝舌リ繝・,'譫懃黄'),(168,'繧､繝√ざ','譫懃黄'),(169,'繝悶ラ繧ｦ','譫懃黄'),(170,'繝溘き繝ｳ','譫懃黄'),(171,'繧ｹ繧､繧ｫ','譫懃黄'),(172,'繝｢繝｢','譫懃黄'),(173,'繝代う繝翫ャ繝励Ν','譫懃黄'),(174,'繝ｬ繝｢繝ｳ','譫懃黄'),(175,'繧ｰ繝ｬ繝ｼ繝励ヵ繝ｫ繝ｼ繝・,'譫懃黄'),(176,'繝｡繝ｭ繝ｳ','譫懃黄'),(177,'繧ｭ繧ｦ繧､','譫懃黄'),(178,'繝翫す','譫懃黄'),(179,'繝励Λ繝','譫懃黄'),(180,'繧ｵ繧ｯ繝ｩ繝ｳ繝・,'譫懃黄'),(181,'繧ｫ繧ｭ','譫懃黄'),(182,'逋ｽ邀ｳ','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(183,'邇・ｱｳ','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(184,'鬢・,'邀ｳ繝ｻ遨繝ｻ繝代Φ'),(185,'繝代Φ','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(186,'蟆城ｺｦ邊・,'邀ｳ繝ｻ遨繝ｻ繝代Φ'),(187,'蠑ｷ蜉帷ｲ・,'邀ｳ繝ｻ遨繝ｻ繝代Φ'),(188,'縺昴・邊・,'邀ｳ繝ｻ遨繝ｻ繝代Φ'),(189,'繧ｳ繝ｼ繝ｳ繝溘・繝ｫ','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(190,'縺昴・','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(191,'縺・←繧・,'邀ｳ繝ｻ遨繝ｻ繝代Φ'),(192,'縺昴≧繧√ｓ','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(193,'繧ｪ繝ｼ繝医Α繝ｼ繝ｫ','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(194,'繧ｯ繧ｹ繧ｯ繧ｹ','邀ｳ繝ｻ遨繝ｻ繝代Φ'),(195,'繝輔か繝ｼ','邀ｳ繝ｻ遨繝ｻ繝代Φ');
/*!40000 ALTER TABLE `ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_suggestions`
--

DROP TABLE IF EXISTS `recipe_suggestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe_suggestions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(120) DEFAULT NULL,
  `ingredients` varchar(500) DEFAULT NULL,
  `steps` text,
  `recipe_id` int DEFAULT NULL,
  `ingredient_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ingredient_id` (`ingredient_id`),
  KEY `recipe_id` (`recipe_id`),
  CONSTRAINT `recipe_suggestions_ibfk_1` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`id`),
  CONSTRAINT `recipe_suggestions_ibfk_2` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_suggestions`
--

LOCK TABLES `recipe_suggestions` WRITE;
/*!40000 ALTER TABLE `recipe_suggestions` DISABLE KEYS */;
INSERT INTO `recipe_suggestions` VALUES (1,'**譚先侭','**','',46,NULL),(2,'**菴懊ｊ譁ｹ','**','',46,NULL),(3,'**譚先侭','**','',48,NULL),(4,'**菴懊ｊ譁ｹ','**','',48,NULL),(5,'**譚先侭','**','',51,NULL),(6,'**菴懊ｊ譁ｹ','**','',51,NULL),(7,'**譚先侭','**','',54,NULL),(8,'**菴懊ｊ譁ｹ','**','',54,NULL);
/*!40000 ALTER TABLE `recipe_suggestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipes`
--

DROP TABLE IF EXISTS `recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `recipe_name` varchar(255) NOT NULL,
  `date_added` datetime DEFAULT NULL,
  `is_favorite` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `recipes_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipes`
--

LOCK TABLES `recipes` WRITE;
/*!40000 ALTER TABLE `recipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `selected_ingredient`
--

DROP TABLE IF EXISTS `selected_ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `selected_ingredient` (
  `user_id` int NOT NULL,
  `ingredient_id` int NOT NULL,
  KEY `ingredient_id` (`ingredient_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `selected_ingredient_ibfk_1` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`id`),
  CONSTRAINT `selected_ingredient_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `selected_ingredient`
--

LOCK TABLES `selected_ingredient` WRITE;
/*!40000 ALTER TABLE `selected_ingredient` DISABLE KEYS */;
INSERT INTO `selected_ingredient` VALUES (2,1);
/*!40000 ALTER TABLE `selected_ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(150) NOT NULL,
  `email` varchar(120) NOT NULL,
  `password` varchar(255) NOT NULL,
  `age` int NOT NULL,
  `gender` varchar(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'譚ｾ豌ｸ諡捺悍','fki2366258@stu.o-hara.ac.jp','$2b$12$T.MvSAZrCHkGFDomtTcTKukIID/jH6AVvRAS8j.bp3xaIbXYx4oUq',20,'M'),(2,'蝨溽伐豬ｷ譁・,'fki2366238@stu.o-hara.ac.jp','pbkdf2:sha256:1000000$AdXiPSzFPVO55mzG$0264c1214b4f8d814c8c50cc9d820ec68398135b53aa0d16e0f5ccc2e563b7fc',20,'M'),(3,'螻ｱ蜀・､ｪ譎ｴ','fki2366214@stu.o-hara.ac.jp','pbkdf2:sha256:1000000$QDTKT8IhAE1cybKL$9aeca49ba7008d2d05a7277e983caf076848e6e1399b784e1f2331b5c03f7f66',20,'F'),(4,'縺ｾ縺､縺ｪ縺後◆縺上∩','takumi@gmail.com','pbkdf2:sha256:1000000$VG697M8h4gUxSzVH$59d0a65109ac69012dc8c025a5c4f51848031b90c87415605da85a2004cef800',20,'M'),(5,'讖玖ｩｰ縲髫・ｹｸ','hasizume@icloud.com','pbkdf2:sha256:600000$tPiDbTHsH1wdHGnq$c7463aec1be8d4d526bdf816be7b4be5ac176c3c3598ea4d55c9ae6f7ab7d3c4',20,'M');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-12-05 15:04:16
