<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>食材マネージャー</title>
</head>
<body>
<header>
<h1>食材マネージャー</h1>
<div>
<span>ユーザー: {{ username }}</span>
<a href="{{ url_for('views.logout') }}">ログアウト</a>
</div>
</header>
<nav>
<a href="/" class="active">ホーム</a>
<a href="/syokuzai">食材登録</a>
<a href="#">レシピ選択</a>
<a href="#">一覧</a>
</nav>
<main>
<section>
<div class="column">
<h3>登録した食材</h3>
</div>
<div class="column">
<h3>最近作った料理</h3>
</div>
</section>
</main>
</body>
</html>