<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選択された食材一覧</title>
    <h1>食材マネージャー</h1>
<div>
    <span>ユーザー: {{ username }}</span>
    <a href="{{ url_for('views.logout') }}">ログアウト</a>
</div>
</head>
<nav>
    <a href="/">ホーム</a>
    <a href="/syokuzai">食材登録</a>
    <a href="/list_syokuzai" class="active">食材選択</a>
    <a href="/history">一覧</a>
</nav>
<body>
    <h1>登録された食材一覧</h1>
    <ul>
        {% for selected in selected_ingredients %}
        <li>
            {{ selected.ingredient.name }}
            <form method="POST" action="{{ url_for('views.delete_ingredient', ingredient_id=selected.ingredient_id) }}" style="display:inline;">
                <button type="submit">削除</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/recipe">提案</a>
</body>
</html>
