<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選択された食材一覧</title>
</head>
<body>
    <h1>登録された食材一覧</h1>
    <ul>
        {% for selected in selected_ingredients %}
        <li>
            {{ selected.ingredient.name }}
            <form method="POST" action="{{ url_for('views.delete_ingredient', ingredient_id=selected.ingredient_id) }}" style="display:inline;">
                <button type="submit">削除</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/recipe">提案</a>
</body>
</html>
